.memo_title {
    text-align: center;
}
.memo_input--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0px 40px 50px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    font-size: larger;
}
.memo_input--container .desc {
    margin-top: 10px;
}
.memo_input--container input,
.memo-item-content input {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px #ddd;
}

.memo_input--container textarea,
.memo-item-content textarea {
    height: 210 px;
    font-weight: 300;
    font-size: 16px;
    color: #333;
    line-height: 26px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
}

.memo_input--container input:focus,
.memo-item-content input:focus,
.memo_input--container textarea:focus,
.memo-item-content textarea:focus {
    border-color: #f3c225;
    font-weight: 300;
    outline: none;
}
.action-button {
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
.memo_input--container .save-button {
    margin-top: 1rem;
    background-color: #f3c225;
}
.memo-list {
    margin-top: 2rem;
    transition: 0.5s;
}
.memo-item {
    padding: 1rem;
    box-shadow: 1px 0px 50px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    width: 26.6%;
    display: inline-block;
}
.memo-item:hover {
    border-radius: 10px;
    box-shadow: 0px 5px 50px 0 #f3c22578;
}
.memo-item__edit-content {
    display: flex;
}
.memo_input--container div,
.memo-item div {
    margin-bottom: 10px;
}
.memo-item-content {
    display: flex;
    flex-direction: column;
}
.memo-item-content .register-date {
    font-size: small;
}
.memo-item-content .delete-button {
    border: 1px solid #333;
    color: #333;
}
.memo-item-content .modify-button {
    margin-top: 1rem;
    background-color: #333;
}
.memo_error {
    color: #f3c225;
    margin-top: 0.4rem;
    font-size: 1rem;
}
