.memo_input--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 55%), -1px 2px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.memo_input--container .desc {
    margin-top: 10px;
}
.memo_input--container input,
.memo_input--container input:focus,
.memo-item-content input,
.memo-item-content input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #757577;
}

.memo_input--container textarea,
.memo_input--container textarea:focus,
.memo-item-content textarea,
.memo-item-content textarea:focus {
    outline: none;
    resize: vertical; /* 상하만 가능 */
    border: 1px solid #757577;
    border-radius: 5px;
    padding: 1rem;
}

.action-button {
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
.memo_input--container .save-button {
    margin-top: 1rem;
    background-color: #29bf6c;
}
.memo-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 80%;
    margin: auto;
    font-size: larger;
}
.memo-item {
    padding: 1rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%), 0 5px 20px rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.memo_input--container div,
.memo-item div {
    margin-bottom: 10px;
}

.memo-item-content {
    display: flex;
    flex-direction: column;
}
.memo-item-content .register-date {
    font-size: small;
}

.memo-item-content .delete-button {
    background-color: #eb4f4a;
}

.memo-item-content .modify-button {
    margin-top: 1rem;
    background-color: #3d8ee6;
}
